__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/
.env

.DS_Store
.idea/
.vscode/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
exports/*
!exports/.gitkeep
logs/*
!logs/.gitkeep

models/custom_ner/
*.spacy

*.ipynb_checkpoints
